$bgColor1: 	    rgb(255,255,255);
$bgColor2: 	    rgb(211,211,211);
$fgColor1: 	    rgb(0,0,0);
$fgColor1-fade: rgb(108,108,108);
$fgColor2:		rgb(147,147,147);
$accentColor:   rgb(179,0,0);

$mainFont: Zag;

@font-face{
	font-family: Zag;
	src: url(../fonts/Zag.otf);
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background-color: $bgColor1;
	color: $fgColor1;
	text-align: center;
	font-family: $mainFont;
	line-height: 170%;
}

div#container{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	$container-border: 2px solid rgb(225,225,225);
	border-left: $container-border;
	border-right: $container-border;
	min-height: 100%;
	position: relative;
}

div#header{
	background-color: $bgColor2;
	box-shadow: 0px 2px 2px $fgColor2;
	position: relative;

	h1{
		background-image: url("../images/logo-long.png");
		background-size: 200px auto;
		background-repeat: no-repeat;
		width: 200px;
		height: 75px;
		margin: 10px 40px 5px;
		display: inline-block;
	}

	input, select{
		height: 40px;
		border: 1px #000 solid;
		padding: 0 8px;
		color: $fgColor1-fade;
		font-family: $mainFont;
		font-size: 1em;
		outline: none;
	}

	select{
		-webkit-padding-end: 16px;
		-webkit-padding-start: 8px;
		-webkit-appearance: button;
		-webkit-border-radius: 0;
		-webkit-box-shadow: none;
		background-image: url('../images/arrow-down.png');
		background-repeat: no-repeat;
		background-size: 10px 10px;
		background-position: center right 5px;
	}

	input#search{
		position: absolute;
			top: 28px;
			left: 250px;
		width: 200px;
	}

	select#searchType{
		position: absolute;
			top: 28px;
			left: 455px;
	}

	div#header-left{
		float: left;
	}

	div#header-right{
		float: right;
		margin-right: 20px;

		button, a{
			display: inline-block;
			border: none;
			background-color: transparent;
			color: $accentColor;
			font-family: Zag;
			font-size: 1.3em;
			margin: 25px 12px 0;
			height: 50px;
			padding: 10px 0;
			text-decoration: none;
			cursor: pointer;
			outline: none;

			&:hover{
				color: $fgColor1-fade;
			}
		}

		a#button-shoppingCart{
			@extend .cartButton;
		}
	}
}

div#content{

	div#sectionTitle{
		h2{
			text-transform: lowercase;
			font-size: 5em;
			font-weight: 900;
			margin: 80px 30px 20px;
		}

		h2.resultsHeader{
			font-size: 2em;
			font-weight: lighter;
			font-style: italic;
			margin: 40px 30px 20px;
			text-transform: none;

			span.resultsText{
				text-transform: lowercase;
			}

			span.resultsQuery{
				text-transform: uppercase;
				color: $accentColor;
			}
		}

		ul#typeList{
			list-style: none;
			font-size: 3.8em;
			text-transform: lowercase;
			font-weight: 900;
			margin: 40px 0 60px 30px;
			padding: 0;

			li{
				display: inline-block;
				color: $fgColor2;
				cursor: pointer;

				& + li{
					margin-left: 15px;
				}

				&.active{
					font-size: 1.5em;
					color: $fgColor1;
					text-shadow: 2px 2px $fgColor2;
				}

				a{
					color: inherit;
					text-decoration: none;

					&:hover{
						color: inherit;
					}
				}
			}
		}
	}
	
	div#narrowContent{
		float: left;
		margin: 10px 30px 20px;
		width: 280px;
		font-size: 1.5em;
		min-height: 250px;
		position: relative;
		padding-bottom: 70px;

		&.narrower{
			width: 220px;

			img{
				max-width: 220px;
			}
		}

		p{
			margin: 20px;
		}

		h3{
			text-transform: uppercase;
			color: $fgColor2;
			font-size: 1.2em;
			margin: 10px 0;
		}

		img{
			max-width: 280px;
		}

		.regButton{
			border: 1px #000 solid;
			padding: 8px;
			color: $fgColor1-fade;
			font-family: $mainFont;
			font-size: 1em;
			outline: none;
			text-decoration: none;
		    display: block;
		    background: $bgColor2;
		    border: 1px $fgColor1 solid;
		    text-align: center;

			&:hover{
				color: $accentColor;
			}
		}

		ul#filterList{
			list-style: none;
			margin-left: 5px;
			padding: 0;
			text-transform: lowercase;

			li{
				background-image: url("../images/chevron-arrow-down.png");
				background-size: 15px 15px;
				background-repeat: no-repeat;
				background-position: top 8px right 10px;

				& + li{
					margin-top: 10px;
				}

				&.active{
					background-image: url("../images/chevron-arrow-up.png");

					ul{
						display: block;
					}
				}

				ul{
					list-style: none;
					padding: 0 0 0 10px;
					font-size: 0.8em;
					display: none;

					li{
						background: none;
						margin: 0;
						padding: 0;

						input{
							position: relative;
	    					vertical-align: middle;
	    				}

	    				input[type=number]{
	    					width: 80px;
	    					height: 25px;
	    					border-color: rgb(211,211,211);
	    				}

	    				& + li{
							margin-top: -10px;
						}
					}
				}
			}
		}
	}

	div#wideContent{
		float: right;
		margin: 10px 30px 20px;
		width: 600px;

		&.wider{
			width: 660px;
		}

		&.widest{
			width: auto;
			float: none;
		}
	}
}

div#footer{
	border-top: 2px $fgColor1 solid;
	text-align: center;
	padding-top: 10px;
	font-size: 0.8em;
	height: 50px;
	width: inherit;
	position: absolute;
		bottom: 0;
		left: 0;

	a{
		color: $accentColor;
		text-decoration: none;

		&:hover{
			color: $fgColor1;
		}
	}

	span.copyright-text{
		color: rgb(155,155,155);
	}
}

// Home Page

ul#iconMenu{
	position: relative;
	list-style: none;
	padding: 0;
	margin-left: 10px;

	li{
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 10px;

		a{
			width: 280px;
			height: 150px;
			overflow: hidden;
			display: inline-block;
			position: relative;
			transition: 0.25s;

			img{
				position: absolute;
					top: 0;
					left: 0;
				margin-left: -30px;
				width: 340px;
				-webkit-filter: grayscale(100%);
	    		filter: grayscale(100%);
	    		opacity: 0.8;
			}

			div.iconMenu-text{
				display: none;
			}

			&:hover{
				img{
					-webkit-filter: grayscale(0%);
		    		filter: grayscale(0%);
		    		opacity: 1;
				}

				div.iconMenu-text{
					display: block;
					position: absolute;
						bottom: 30px;
						left: 30px;
					text-transform: uppercase;
					font-size: 2em;
					color: #FFF;
					text-shadow: 2px 2px $fgColor1-fade;
				}
			}
		}


	}
}

// Login Form

div#loginForm{
	display: none;
	position: absolute;
		top: 80px;
		right: 20px;
	background-color: $bgColor1;
	box-shadow: 0px 2px 2px $fgColor2;
	text-align: right;

	&:after {
	  content: "";
	  display: block; /* reduce the damage in FF3.0 */
	  position: absolute;
	  top: -15px;
	  right: 25px;
	  width: 0;
	  border-width: 0 15px 15px;
	  border-style: solid;
	  border-color: $bgColor1 transparent;
	}

	div.form-group{
		display: block;
		padding: 10px 10px 0;
		text-align: left;

		div.form-label{
			text-transform: lowercase;
			display: inline-block;
			width: 70px;
			font-size: 1.2em;
			position: relative;
			top: 2px;
		}

		input.form-input{
			width: 180px;
			height: 30px;
		}
	}

	.loginButton{
		border: none;
		background-color: transparent;
		color: $accentColor;
		font-family: Zag;
		font-size: 1.5em;
		padding: 15px 10px 5px;
		text-transform: uppercase;
		cursor: pointer;

		&:hover{
			color: $fgColor1-fade;
		}
	}
}

// Product List

span.noResults{
	font-size: 2em;
}

div.product{

	border: 1px rgb(108,108,108) solid;
	padding: 15px 0;

	&:nth-of-type(odd){
		background-color: rgb(211,211,211);
	}

	&:nth-of-type(even){
		background-color: rgb(255,255,255);
	}

	& + div.product{
		border-top-width: 0;
	}

	div.product-name,
	div.product-description,
	div.product-price{
		display: inline-block;
		vertical-align: middle;

		button{
			font-size: 1.5em;
			background-color: transparent;
			border: none;
			outline: none;

			&:hover{
				color: $accentColor;
			}
		}
	}

	div.product-name{
		font-weight: bold;
		font-size: 1.5em;
		width: 30%;
		word-wrap: break-word;
		margin-left: 15px;

		a{
			text-decoration: none;
			color: $accentColor;
			display: block;
		}
	}

	div.product-description{
		width: calc(50% - 30px);
		margin-left: 15px;
	}

	div.product-price{
		text-align: right;
		width: calc(20% - 30px);
		margin-right: 15px;
	}

}

// View Product

h2#viewProductTitle{
	color: $accentColor;
	text-shadow: 2px 2px $fgColor2;	
	margin: 0 0 20px;
	font-size: 2em;
	word-wrap: break-word;
}

div#viewProduct{
	font-size: 1.3em;

	h3{
		font-size: 2em;
		text-transform: lowercase;
		border-top: 2px $fgColor1-fade solid;
		padding-top: 15px;
		margin: 40px 0 20px;

		&:first-of-type{
			margin-top: 10px;
		}
	}
}

.addToCart-quantity{
	float: left;
	width: 80px;
}

.addToCartButton{
	@extend .cartButton;

	border: none;
	background-color: transparent;
	color: $accentColor;
	font-family: Zag;
	height: 50px;
	font-size: 1em;
	text-transform: lowercase;
	outline: none;
	padding-left: 0;
	float: right;

	&:hover{
		color: $fgColor1-fade;
	}
}

div#productRating{
	font-size: 1em;
	margin-top: 15px;
}

div#productPrice{
	font-size: 1em;
	font-weight: bold;
}

div#productOptions{
	margin-top: 30px;
	color: $accentColor;
	font-size: 0.8em;
	text-align: right;
}

div.productReview{
	margin-bottom: 15px;

	div.productReview-name{
		color: $fgColor2;
		float: left;
	}

	div.productReview-rating{
		color: $fgColor2;
		font-size: 0.9em;
		float: right;
	}

	div.productReview-review{
		white-space: pre-wrap;
		clear: both;
	}
}

#userReview{
	color: $fgColor1;
	text-align: left;
	margin-top: 20px;
}

#reviewForm{
	textarea{
		width: 100%;
		margin: 10px 0;
		resize: vertical;
		min-height: 100px;
	}
}

input.reviewRating{
	-webkit-appearance:none;
	width:15px;
	height:20px;
	outline: none;
	border: none;

	&:before {
	    content: "\2606";
	    display: block;
	    position: relative;
	    width: 15px;
	    left: 0;
	    color: $accentColor;
	}

	&.active:before{
		content: "\2605";
	}
}

#userReview-rating{
	margin-left: 15px;
	color: $accentColor;
	letter-spacing: 3px;
}

#review-content{
	font-size: 0.8em;
	white-space: pre-wrap;
}

// Register

h2#regTitle{
	font-size: 2.5em;
	text-transform: lowercase;
	margin: 15px 0 10px;
	text-shadow: 1px 1px $fgColor2;	
}

div#regDesc{
	font-size: 1.2em;
	margin-bottom: 30px;
}

table#regForm{
	margin-top: 15px;

	th{
		padding: 20px 0;
		font-size: 1.5em;
		text-align: left;
		color: $accentColor;
	}

	td{
		padding-bottom: 5px;
	}

	tr td:first-child{
		text-align: right;
		text-transform: lowercase;
		vertical-align: top;
		padding: 7px 10px 0 0;
		font-size: 1.2em;
	}

	.regRow{
		display: block;
		padding: 7px 10px 0 0;

		&:first-of-type{
			padding: 0;

			input:nth-of-type(1){
				width: 100px;
				margin-right: 5px;
			}

			input:nth-of-type(2){
				width: 195px;
			}
		}

		&:last-of-type{
			input:nth-of-type(1){
				width: 195px;
				margin-right: 5px;
			}

			input:nth-of-type(2){
				width: 100px;
			}
		}

		&.regRowHalf:first-of-type{
			input:nth-of-type(1){
				width: 100px;
				margin-right: 5px;
			}

			input:nth-of-type(2){
				width: 195px;
			}
		}
	}

	input[type='text'],
	input[type='number'],
	input[type='password']{
		padding: 4px 10px;
		height: 30px;
		width: 300px;
		border-width: 2px;
	}

	input[type="radio"]{
		margin-top: -1px;
		vertical-align: middle;
	}

	#regName{
		input:nth-of-type(1){
			width: 125px;
			margin-right: 5px;
		}

		input:nth-of-type(2){
			width: 40px;
			margin-right: 5px;
		}

		input:nth-of-type(3){
			width: 125px;
		}
	}
}

input#regButton{
	background-color: transparent;
	border: none;
	color: $accentColor;
	font-size: 1.5em;
	text-transform: lowercase;
	text-shadow: 1px 1px $fgColor2;
	margin-top: 30px;

	&:hover{
		color: $fgColor1;
	}
}

// Admin Main (Users)

table#usersTable{
	border-collapse: collapse;

	td, th{
		padding: 10px;
	}

	th{
		text-align: left;
		font-size: 1.5em;
		border-bottom: 2px $bgColor2 solid;
	}
}

// General

h2, h3{
	line-height: 120%;
}

.cartButton{
	background-image: url("../images/cart.png");
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: top 5px right;
	padding-right: 35px;
}

input{
	height: 40px;
	border: 1px #000 solid;
	padding: 0 8px;
	color: $fgColor1-fade;
	font-family: $mainFont;
	font-size: 1em;
	outline: none;
}

.hidden{
	display: none;
}

.clear{
	clear: both;
}