$bgColor1: 	    rgb(255,255,255);
$bgColor2: 	    rgb(211,211,211);
$fgColor1: 	    rgb(0,0,0);
$fgColor1-fade: rgb(108,108,108);
$fgColor2:		rgb(147,147,147);
$accentColor:   rgb(179,0,0);

$mainFont: Zag;

@font-face{
	font-family: Zag;
	src: url(../fonts/Zag.otf);
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background-color: $bgColor1;
	color: $fgColor1;
	text-align: center;
	font-family: $mainFont;
	line-height: 1.7em;
}

div#container{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	$container-border: 2px solid rgb(225,225,225);
	border-left: $container-border;
	border-right: $container-border;
	min-height: 100%;
	position: relative;
}

div#header{
	background-color: $bgColor2;
	box-shadow: 0px 2px 2px $fgColor2;
	position: relative;

	h1{
		background-image: url("../images/logo-long.png");
		background-size: 200px auto;
		background-repeat: no-repeat;
		width: 200px;
		height: 75px;
		margin: 10px 40px 5px;
		display: inline-block;
	}

	input, select{
		height: 40px;
		border: 1px #000 solid;
		padding: 0 8px;
		color: $fgColor1-fade;
		font-family: $mainFont;
		font-size: 1em;
		outline: none;
	}

	select{
		-webkit-padding-end: 16px;
		-webkit-padding-start: 8px;
		-webkit-appearance: button;
		-webkit-border-radius: 0;
		-webkit-box-shadow: none;
		background-image: url('../images/arrow-down.png');
		background-repeat: no-repeat;
		background-size: 10px 10px;
		background-position: center right 5px;
	}

	input#search{
		position: absolute;
			top: 28px;
			left: 250px;
		width: 200px;
	}

	select#searchType{
		position: absolute;
			top: 28px;
			left: 455px;
	}

	div#header-left{
		float: left;
	}

	div#header-right{
		float: right;
		margin-right: 20px;

		button, a{
			border: none;
			background-color: transparent;
			color: $accentColor;
			font-family: Zag;
			font-size: 1.4em;
			margin: 25px 20px 0;
			height: 50px;
			padding: 10px 0;
			text-transform: lowercase;
			cursor: pointer;
			outline: none;

			&:hover{
				color: $fgColor1-fade;
			}
		}

		a#button-shoppingCart{
			background-image: url("../images/cart.png");
			background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: center right;
			padding-right: 40px;
		}
	}
}

div#content{

	div#sectionTitle{
		h2{
			text-transform: lowercase;
			font-size: 5em;
			font-weight: 900;
			margin: 80px 30px 20px;
		}

		h2.resultsHeader{
			font-size: 2em;
			font-weight: lighter;
			font-style: italic;
			margin: 40px 30px 20px;
			text-transform: none;

			span.resultsText{
				text-transform: lowercase;
			}

			span.resultsQuery{
				text-transform: uppercase;
				color: $accentColor;
			}
		}

		ul#typeList{
			list-style: none;
			font-size: 3.8em;
			text-transform: lowercase;
			font-weight: 900;
			margin: 40px 0 60px 30px;
			padding: 0;

			li{
				display: inline-block;
				color: $fgColor2;
				cursor: pointer;

				& + li{
					margin-left: 15px;
				}

				&.active{
					font-size: 1.5em;
					color: $fgColor1;
					text-shadow: 2px 2px $fgColor2;
				}

				a{
					color: inherit;
					text-decoration: none;

					&:hover{
						color: inherit;
					}
				}
			}
		}
	}
	
	div#narrowContent{
		float: left;
		margin: 10px 30px 20px;
		width: 280px;
		font-size: 1.5em;

		&.narrower{
			width: 220px;
		}

		p{
			margin: 20px;
		}

		h3{
			text-transform: uppercase;
			color: $fgColor2;
			font-size: 1.2em;
			margin: 0 0 10px;
		}

		ul#filterList{
			list-style: none;
			margin-left: 5px;
			padding: 0;
			text-transform: lowercase;

			li{
				background-image: url("../images/chevron-arrow-down.png");
				background-size: 15px 15px;
				background-repeat: no-repeat;
				background-position: top 8px right 10px;

				& + li{
					margin-top: 10px;
				}

				&.active{
					background-image: url("../images/chevron-arrow-up.png");

					ul{
						display: block;
					}
				}

				ul{
					list-style: none;
					padding: 0 0 0 10px;
					font-size: 0.8em;
					display: none;

					li{
						background: none;
						margin: 0;
						padding: 0;

						input{
							position: relative;
	    					vertical-align: middle;
	    				}

	    				input[type=number]{
	    					width: 80px;
	    					height: 25px;
	    					border-color: rgb(211,211,211);
	    				}

	    				& + li{
							margin-top: -10px;
						}
					}
				}
			}
		}
	}

	div#wideContent{
		float: right;
		margin: 10px 30px 20px;
		width: 600px;

		&.wider{
			width: 660px;
		}
	}
}

div#footer{
	border-top: 2px $fgColor1 solid;
	text-align: center;
	padding-top: 10px;
	font-size: 0.8em;

	a{
		color: $accentColor;
		text-decoration: none;

		&:hover{
			color: $fgColor1;
		}
	}

	span.copyright-text{
		color: rgb(155,155,155);
	}
}

// Home Page

ul#iconMenu{
	position: relative;
	list-style: none;
	padding: 0;
	margin-left: 10px;

	li{
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 10px;

		a{
			width: 280px;
			height: 150px;
			overflow: hidden;
			display: inline-block;
			position: relative;
			transition: 0.25s;

			img{
				position: absolute;
					top: 0;
					left: 0;
				margin-left: -30px;
				width: 340px;
				-webkit-filter: grayscale(100%);
	    		filter: grayscale(100%);
	    		opacity: 0.8;
			}

			div.iconMenu-text{
				display: none;
			}

			&:hover{
				img{
					-webkit-filter: grayscale(0%);
		    		filter: grayscale(0%);
		    		opacity: 1;
				}

				div.iconMenu-text{
					display: block;
					position: absolute;
						bottom: 30px;
						left: 30px;
					text-transform: uppercase;
					font-size: 2em;
					color: #FFF;
					text-shadow: 2px 2px $fgColor1-fade;
				}
			}
		}


	}
}

// Login Form

div#loginForm{
	display: none;
	position: absolute;
		top: 80px;
		right: 20px;
	background-color: $bgColor1;
	box-shadow: 0px 2px 2px $fgColor2;
	text-align: right;

	&:after {
	  content: "";
	  display: block; /* reduce the damage in FF3.0 */
	  position: absolute;
	  top: -15px;
	  right: 25px;
	  width: 0;
	  border-width: 0 15px 15px;
	  border-style: solid;
	  border-color: $bgColor1 transparent;
	}

	div.form-group{
		display: block;
		padding: 10px 10px 0;
		text-align: left;

		div.form-label{
			text-transform: lowercase;
			display: inline-block;
			width: 70px;
			font-size: 1.2em;
			position: relative;
			top: 2px;
		}

		input.form-input{
			width: 180px;
			height: 30px;
		}
	}

	.loginButton{
		border: none;
		background-color: transparent;
		color: $accentColor;
		font-family: Zag;
		font-size: 1.5em;
		padding: 15px 10px 5px;
		text-transform: uppercase;
		cursor: pointer;

		&:hover{
			color: $fgColor1-fade;
		}
	}
}

// Product List

div.product{

	border: 1px rgb(108,108,108) solid;
	padding: 15px;

	&:nth-of-type(odd){
		background-color: rgb(211,211,211);
	}

	&:nth-of-type(even){
		background-color: rgb(255,255,255);
	}

	& + div.product{
		border-top-width: 0;
	}

	div.product-name,
	div.product-description,
	div.product-price,
	div.product-add{
		display: inline-block;
		vertical-align: middle;
	}

	div.product-name{
		font-weight: bold;
		font-size: 1.5em;
		width: 30%;

		a{
			text-decoration: none;
			color: $accentColor;
		}
	}

	div.product-description{
		width: calc(50% - 35px);
	}

	div.product-price{
		text-align: right;
		width: calc(20% - 45px);
		margin-right: 10px;
	}

	div.product-add{
		width: 40px;
		height: 40px;
		background-image: url("../images/cart.png");
		background-size: 40px 40px;
		background-repeat: no-repeat;
	}

}

// General

input{
	height: 40px;
	border: 1px #000 solid;
	padding: 0 8px;
	color: $fgColor1-fade;
	font-family: $mainFont;
	font-size: 1em;
	outline: none;
}

.hidden{
	display: none;
}

.clear{
	clear: both;
}