$bgColor1: 	    rgb(255,255,255);
$bgColor2: 	    rgb(211,211,211);
$fgColor1: 	    rgb(0,0,0);
$fgColor1-fade: rgb(108,108,108);
$accentColor:   rgb(179,0,0);

$mainFont: Zag;

@font-face{
	font-family: Zag;
	src: url(../fonts/Zag.otf);
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background-color: $bgColor1;
	color: $fgColor1;
	text-align: center;
	font-family: $mainFont;
	line-height: 1.7em;
}

div#container{
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	$container-border: 2px solid rgb(225,225,225);
	border-left: $container-border;
	border-right: $container-border;
	min-height: 100%;
	position: relative;
}

div#header{
	background-color: $bgColor2;
	box-shadow: 0px 2px 2px rgb(147,147,147);
	position: relative;

	h1{
		background-image: url("../images/logo-long.png");
		background-size: 200px auto;
		background-repeat: no-repeat;
		width: 200px;
		height: 75px;
		margin: 10px 40px 5px;
		display: inline-block;
	}

	input#search{
		position: absolute;
		height: 40px;
		top: 28px;
		left: 250px;
		border: 1px #000 solid;
		padding: 0 8px;
		color: $fgColor1-fade;
		font-family: $mainFont;
		font-size: 1em;
		width: 200px;
		outline: none;
	}

	div#header-left{
		float: left;
	}

	div#header-right{
		float: right;
		margin-right: 20px;

		button, a{
			border: none;
			background-color: transparent;
			color: $accentColor;
			font-family: Zag;
			font-size: 1.4em;
			margin: 25px 20px 0;
			height: 50px;
			padding: 10px 0;
			text-transform: lowercase;
			cursor: pointer;

			&:hover{
				color: $fgColor1-fade;
			}
		}

		a#button-shoppingCart{
			background-image: url("../images/cart.png");
			background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: center right;
			padding-right: 40px;
		}
	}
}

div#content{

	div#sectionTitle{
		h2{
			text-transform: lowercase;
			font-size: 5em;
			font-weight: 900;
			margin: 80px 30px 20px;
		}
	}
	
	div#narrowContent{
		float: left;
		margin: 10px 30px 20px;
		width: 280px;
		font-size: 1.5em;

		p{
			margin: 20px;
		}
	}

	div#wideContent{
		float: right;
		margin: 10px 30px 20px;
		width: 600px;
	}
}

div#footer{
	border-top: 2px $fgColor1 solid;
	text-align: center;
	padding-top: 10px;
	font-size: 0.8em;

	a{
		color: $accentColor;
		text-decoration: none;

		&:hover{
			color: $fgColor1;
		}
	}

	span.copyright-text{
		color: rgb(155,155,155);
	}
}

// Home Page

ul#iconMenu{
	position: relative;
	list-style: none;
	padding: 0;
	margin-left: 10px;

	li{
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 10px;

		a{
			width: 280px;
			height: 150px;
			overflow: hidden;
			display: inline-block;
			position: relative;
			transition: 0.25s;

			img{
				position: absolute;
					top: 0;
					left: 0;
				margin-left: -30px;
				width: 340px;
				-webkit-filter: grayscale(100%);
	    		filter: grayscale(100%);
	    		opacity: 0.8;
			}

			div.iconMenu-text{
				display: none;
			}

			&:hover{
				img{
					-webkit-filter: grayscale(0%);
		    		filter: grayscale(0%);
		    		opacity: 1;
				}

				div.iconMenu-text{
					display: block;
					position: absolute;
						bottom: 30px;
						left: 30px;
					text-transform: uppercase;
					font-size: 2em;
					color: #FFF;
					text-shadow: 2px 2px $fgColor1-fade;
				}
			}
		}


	}


}

.hidden{
	display: none;
}

.clear{
	clear: both;
}